/Core/target/
*.class
/v1_21/target/
/v1_20_r4/target/
*.iml
*.xml
*/target
/v1_20_r3/target/
/v1_19_r3/target/
/v1_19_r2/target/
/v1_19_r1/target/
/v1_18_r2/target/
/v1_18_r1/target/
.idea/*
/v1_17_r1/target/
/v1_16_r3/target/
/v1_16_r2/target/
/v1_16_r1/target/